.hide-text { font: 0/0 a;color: transparent;text-shadow: none;background-color: transparent;border: 0;}
.input-block-level { display: block;width: 100%; min-height: 30px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.hidden {display: none;visibility: hidden;}
.visible-phone, .visible-tablet, .hidden-desktop {display: none !important}
.visible-desktop {display: inherit !important;}
@media (min-device-width: 768px) and (max-device-width: 979px) {
.hidden-desktop, .visible-tablet{display: inherit !important}
.visible-desktop, .hidden-tablet, .cfdebug_wrapper { display: none !important}
.siteNav-wrap .btn-navbar {display:block}
.widgetWrap.aside .title span {padding:0}
.widgetWrap.aside .title{text-align:center}
}
@media (max-device-width: 767px) {
.hidden-desktop, .visible-phone {display: inherit !important;}
.visible-desktop, .hidden-phone,.cfdebug_wrapper { display:none!important;}
h1.pagetitle{margin:0;padding:10px 0;line-height:normal;}
.heading-hr{margin: 0 0 26px 0;}
}
@media (max-device-width: 1024px) {
.dd{left:95%;top:35px;}
.cfdebug_wrapper {display:none;}
img.vjs-poster{z-index:9999999; position:absolute;}
.siteNav-wrap .btn-navbar{padding:10px;}
body{font-size:16px;} 
#col1.span8,#col2.span4{padding:0 10px;}
#col1.span8 > p, #profileTabContent p{text-align:justify;}
#interior-page #col1.span8 {padding-right: 10px;}
#col1.span8 > ul li{line-height:24px; margin-bottom:10px;}
#col1.span8 > ul,#col1.span8 > ol{margin-left:34px;}
#col0.span12{min-height:0px;}
#footer .logo{margin:0 auto;float:none!important;}
.container.header-container{height:auto;}
.container.header-container .logo{padding-left: 10px;}
.container-fluid { padding: 0;}
.dl-horizontal dt { float: none; clear: none;width: auto;text-align: left;}
.dl-horizontal dd { margin-left: 0;}
.container {width: auto;}
.row-fluid {width: 100%;}
.thumbnails > li { float: none; margin-left: 0;}
[class*="span"], .uneditable-input[class*="span"], .row-fluid [class*="span"] {float: none;display: block;width: 100%;margin-left: 0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.span12, .row-fluid .span12 {width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.input-large,.input-xlarge,.input-xxlarge,input[class*="span"],select[class*="span"],textarea[class*="span"],.uneditable-input {display: block;width: 100%;min-height: 30px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.input-prepend input,.input-append input,.input-prepend input[class*="span"],.input-append input[class*="span"] { display: inline-block;width: auto; }
.row, .thumbnails, .row-fluid [class*="offset"]:first-child,.controls-row [class*="span"] + [class*="span"] {margin-left: 0;}
.modal { position: fixed;top: 20px;left: 20px;right: 20px;width: auto;margin: 0; }
.modal.fade { top: -100px;} .modal.fade.in {top: 20px; }
#scrollhdr { display: none; }
}
@media only screen and (min-device-width : 768px), (max-device-width : 1024px) {
  .header-container .phone {position: absolute;right: 10px;}
}
@media screen and (max-device-width: 1024px) {
.siteNav-wrap .btn-navbar{padding:10px!important; display:block!important} .siteNav-wrap{ background-position:0 -4px;}
.siteNav-container{background:url(../images/structure/nav-noise1.jpg) repeat;margin:0;display:block;width:100%;-moz-box-shadow: inset 3px 4px 5px rgba(0,0,0,.32);-webkit-box-shadow: inset 3px 4px 5px rgba(0,0,0,.32);box-shadow: inset 3px 4px 5px rgba(0,0,0,.32);}
ul#topNav > li {display: block;position: relative;width:100%;}
li.dropdown{margin:0!important;}
ul#topNav > li > a {height:auto;border-bottom:solid 1px #43454a;}
.nav-collapse .dropdown-menu a {  color:#c4c4c4!important;font-weight:200!important;font-size:12px;}
ul#topNav > li > a::after, ul#topNav > li > a::before,ul#topNav::after,ul#topNav > li > a:hover, ul#topNav .dropdown:hover > a{background:none;}
.nav-collapse {-webkit-transform: translate3d(0, 0, 0);}
.mega-menu-2 ul,.mega-menu-1 ul {list-style: none;margin: 0;padding:0;float: none;display:block;width: 100%;}
.navbar-fixed-top, .navbar-fixed-bottom {position: static;} .navbar-fixed-top {margin-bottom: 20px;} .navbar-fixed-bottom {margin-top: 20px;} .navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {padding: 5px;}
.navbar .container { width: auto;padding: 0; }
.navbar .brand { padding-left: 10px;padding-right: 10px; margin: 0 0 0 -5px;}
.nav-collapse { clear: both;} .nav-collapse .nav { float: none; margin: 0 0 10px; } .nav-collapse .nav > li {float: none; }
.nav-collapse .nav > .divider-vertical { display: none; }
.nav-collapse .nav .nav-header { color: #777777; text-shadow: none; }
.nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a { padding: 10px 15px;font-weight: bold;color: #777777;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}
.nav-collapse .btn {padding: 4px 10px 4px; font-weight: normal; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;}
.nav-collapse .dropdown-menu li + li a {margin-bottom: 2px; }
.nav-collapse .nav > li > a:hover, .nav-collapse .dropdown-menu a:hover {background-color: #003665;}
.navbar-inverse .nav-collapse .nav > li > a, .navbar-inverse .nav-collapse .dropdown-menu a {color: #999999;}
.navbar-inverse .nav-collapse .nav > li > a:hover, .navbar-inverse .nav-collapse .dropdown-menu a:hover { background-color: #111111;}
.nav-collapse.in .btn-group { margin-top: 5px;padding: 0;}
.nav-collapse .dropdown-menu{position:static; top:auto; left:auto; float:none; display:none; max-width:none; margin:0; padding:5px 40px; background-color:transparent; border:none; -webkit-border-radius:0; -moz-border-radius:0; border-radius:0; background:url(../images/structure/nav-noise2.jpg) repeat; -moz-box-shadow:inset 0 0 10px rgba(0,0,0,.75); -webkit-box-shadow:inset 0 0 10px rgba(0,0,0,.75); box-shadow:inset 0 0 10px rgba(0,0,0,.75); border-bottom:solid 1px #43454a;  }
.nav-collapse .open > .dropdown-menu, .navbar .btn-navbar {display: block; }
.nav-collapse .dropdown-menu:before, .nav-collapse .dropdown-menu:after, .nav-collapse .dropdown-menu .divider, .nav-collapse .nav > li > .dropdown-menu:before, .nav-collapse .nav > li > .dropdown-menu:after {display: none;}
.nav-collapse .navbar-form, .nav-collapse .navbar-search{ float:none;  padding:10px 15px;  margin:10px 0;  border-top:1px solid #f2f2f2;  border-bottom:1px solid #f2f2f2;  -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.1),0 1px 0 rgba(255,255,255,.1);  -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.1),0 1px 0 rgba(255,255,255,.1);  box-shadow:inset 0 1px 0 rgba(255,255,255,.1),0 1px 0 rgba(255,255,255,.1)}
.navbar-inverse .nav-collapse .navbar-form, .navbar-inverse .nav-collapse .navbar-search {border-top-color: #111111;border-bottom-color: #111111;}
.navbar .nav-collapse .nav.pull-right {float: none; margin-left: 0;} .nav-collapse, .nav-collapse.collapse { overflow: hidden; height: 0;} .navbar-static .navbar-inner { padding-left: 10px;padding-right: 10px; }
}
@media screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 1){
	ul.nav li.dropdown .dropdown-menu{display: block;}
}
/* 979px and below */
@media (min-device-width: 768px) and (max-device-width: 979px) {
.row { margin-left: -20px;*zoom: 1;} .row:before,.row:after {display: table;content: "";line-height: 0;} .row:after {clear: both; }
[class*="span"] { float: left;min-height: 1px; margin-left: 20px;}
.span12 {width: 724px} .span11 { width: 662px } .span10 { width: 600px } .span9{ width: 538px } .span8{ width: 476px } .span7{ width: 414px } .span6 { width: 352px } .span5 { width: 290px } .span4 { width: 228px } .span3 { width: 166px } .span2 { width: 104px } .span1 { width: 42px } .offset12 { margin-left: 764px } .offset11 { margin-left: 702px } .offset10 { margin-left: 640px } .offset9 { margin-left: 578px } .offset8 { margin-left: 516px } .offset7 { margin-left: 454px } .offset6 { margin-left: 392px } .offset5 { margin-left: 330px } .offset4 { margin-left: 268px } .offset3 { margin-left: 206px } .offset2 { margin-left: 144px } .offset1 { margin-left: 82px }
.row-fluid {width: 100%; *zoom: 1;} .row-fluid:before, .row-fluid:after { display: table; content: "";line-height: 0;} .row-fluid:after {clear: both;}
.row-fluid [class*="span"] { display: block;width: 100%;min-height: 30px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;float: left;margin-left: 2.7624309392265194%; *margin-left: 2.709239449864817%;}
.row-fluid [class*="span"]:first-child { margin-left: 0 } .row-fluid .controls-row [class*="span"] + [class*="span"] { margin-left: 2.7624309392265194% }
.row-fluid .span12 {width: 100%; *width: 99.94680851063829%;}
.row-fluid .span11 {width: 91.43646408839778%; *width: 91.38327259903608%;}
.row-fluid .span10 {width: 82.87292817679558%; *width: 82.81973668743387%;}
.row-fluid .span9 {width: 74.30939226519337%; *width: 74.25620077583166%;}
.row-fluid .span8 {width: 65.74585635359117%; *width: 65.69266486422946%;}
.row-fluid .span7 {width: 57.18232044198895%; *width: 57.12912895262725%;}
.row-fluid .span6 {width: 48.61878453038674%; *width: 48.56559304102504%;}
.row-fluid .span5 {width: 40.05524861878453%; *width: 40.00205712942283%;}
.row-fluid .span4 {width: 31.491712707182323%; *width: 31.43852121782062%;}
.row-fluid .span3 {width: 22.92817679558011%; *width: 22.87498530621841%;}
.row-fluid .span2 {width: 14.3646408839779%; *width: 14.311449394616199%;}
.row-fluid .span1 {width: 5.801104972375691%; *width: 5.747913483013988%;}
.row-fluid .offset12 {margin-left: 105.52486187845304%; *margin-left: 105.41847889972962%;}
.row-fluid .offset12:first-child {margin-left: 102.76243093922652%; *margin-left: 102.6560479605031%;}
.row-fluid .offset11 {margin-left: 96.96132596685082%; *margin-left: 96.8549429881274%;}
.row-fluid .offset11:first-child {margin-left: 94.1988950276243%; *margin-left: 94.09251204890089%;}
.row-fluid .offset10 {margin-left: 88.39779005524862%; *margin-left: 88.2914070765252%;}
.row-fluid .offset10:first-child {margin-left: 85.6353591160221%; *margin-left: 85.52897613729868%;}
.row-fluid .offset9 {margin-left: 79.8342541436464%; *margin-left: 79.72787116492299%;}
.row-fluid .offset9:first-child {margin-left: 77.07182320441989%; *margin-left: 76.96544022569647%;}
.row-fluid .offset8 {margin-left: 71.2707182320442%; *margin-left: 71.16433525332079%;}
.row-fluid .offset8:first-child {margin-left: 68.50828729281768%; *margin-left: 68.40190431409427%;}
.row-fluid .offset7 {margin-left: 62.70718232044199%; *margin-left: 62.600799341718584%;}
.row-fluid .offset7:first-child {margin-left: 59.94475138121547%; *margin-left: 59.838368402492065%;}
.row-fluid .offset6 {margin-left: 54.14364640883978%; *margin-left: 54.037263430116376%;}
.row-fluid .offset6:first-child {margin-left: 51.38121546961326%; *margin-left: 51.27483249088986%;}
.row-fluid .offset5 {margin-left: 45.58011049723757%; *margin-left: 45.47372751851417%;}
.row-fluid .offset5:first-child {margin-left: 42.81767955801105%; *margin-left: 42.71129657928765%;}
.row-fluid .offset4 {margin-left: 37.01657458563536%; *margin-left: 36.91019160691196%;}
.row-fluid .offset4:first-child {margin-left: 34.25414364640884%; *margin-left: 34.14776066768544%;}
.row-fluid .offset3 {margin-left: 28.45303867403315%; *margin-left: 28.346655695309746%;}
.row-fluid .offset3:first-child {margin-left: 25.69060773480663%; *margin-left: 25.584224756083227%;}
.row-fluid .offset2 {margin-left: 19.88950276243094%; *margin-left: 19.783119783707537%;}
.row-fluid .offset2:first-child {margin-left: 17.12707182320442%; *margin-left: 17.02068884448102%;}
.row-fluid .offset1 {margin-left: 11.32596685082873%; *margin-left: 11.219583872105325%;}
.row-fluid .offset1:first-child {margin-left: 8.56353591160221%; *margin-left: 8.457152932878806%;}
input, textarea, .uneditable-input { margin-left: 0 } .controls-row [class*="span"] + [class*="span"] { margin-left: 20px } input.span12, textarea.span12, .uneditable-input.span12 { width: 710px } input.span11, textarea.span11, .uneditable-input.span11 { width: 648px } input.span10, textarea.span10, .uneditable-input.span10 { width: 586px } input.span9, textarea.span9, .uneditable-input.span9 { width: 524px } input.span8, textarea.span8, .uneditable-input.span8 { width: 462px } input.span7, textarea.span7, .uneditable-input.span7 { width: 400px } input.span6, textarea.span6, .uneditable-input.span6 { width: 338px } input.span5, textarea.span5, .uneditable-input.span5 { width: 276px } input.span4, textarea.span4, .uneditable-input.span4 { width: 214px } input.span3, textarea.span3, .uneditable-input.span3 { width: 152px } input.span2, textarea.span2, .uneditable-input.span2 { width: 90px } input.span1, textarea.span1, .uneditable-input.span1 { width: 28px }
li.dropdown { margin-top: 10px; }
.nav-collapse .nav-title, .nav-collapse .nav .nav-header { color: #ccc; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); border-bottom: 1px solid #555; }
.nav-collapse .btn-primary, .nav-collapse .btn-warning, .nav-collapse .btn-success, .nav-collapse .btn-info, .nav-collapse .btn-danger { color: #fff !important; }
.nav-collapse .mega-menu-2 { min-width: 290px !important; } .nav-collapse .mega-menu-2 ul { list-style: none; margin: 0 20px 5px 0; float: left; width: 300px; }
.nav-collapse .mega-menu-3 { min-width: 435px !important; } .nav-collapse .mega-menu-3 ul { list-style: none; margin: 0 20px 5px 0; float: left; width: 125px; }
.nav-collapse .mega-menu-4 { min-width: 580px !important; } .nav-collapse .mega-menu-4 ul { list-style: none; margin: 0 20px 5px 0; float: left; width: 151px; }
.nav-collapse .mega-menu-5 { min-width: 714px !important; } .nav-collapse .mega-menu-5 ul { list-style: none; margin: 0 15px 0 0; float: left; width: 125px; }
.nav-collapse .mega-menu-6 { min-width: 714px !important; } .nav-collapse .mega-menu-6 ul { list-style: none; margin: 0 15px 0 0; float: left; width: 101px; }
.nav-collapse .mega-menu-2 ul.two-column, .nav-collapse .mega-menu-3 ul.two-column, .nav-collapse .mega-menu-4 ul.two-column, .nav-collapse .mega-menu-5 ul.two-column { width: 270px; } .nav-collapse .mega-menu-6 ul.two-column { width: 240px; }
.nav-collapse .mega-menu-3 ul.three-column, .nav-collapse .mega-menu-4 ul.three-column, .nav-collapse .mega-menu-5 ul.three-column { width: 400px; } .nav-collapse .mega-menu-6 ul.three-column { width: 333px; }
.nav-collapse .mega-menu-4 ul.four-column, .nav-collapse .mega-menu-5 ul.four-column { width: 546px; }
.nav-collapse .mega-menu-6 ul.four-column { width: 428px; }
.nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a, .nav-collapse .nav .dropdown-toggle { padding: 3px 0; }
.nav-collapse .mega-menu-2 ul.mega-wide, .nav-collapse .mega-menu-3 ul.mega-wide, .nav-collapse .mega-menu-4 ul.mega-wide, .nav-collapse .mega-menu-5 ul.mega-wide, .nav-collapse .mega-menu-6 ul.mega-wide { width: 100%; margin: 0; }
.transition a {-webkit-transition: none; -moz-transition: none; -o-transition: none; transition: none } .transition a:hover {padding-left: 0; -webkit-transition: none;-moz-transition: none; -o-transition: none; transition: none } .navbar-search { display: inline-block; } .dropdown-separator { border-top: 1px dotted #555; }
}
@media (max-device-width: 767px) {
.fullSlider-wrap,#tabs-vert{display:none;} .form-homepage-offset {margin-top: 0;margin-bottom: 0;}
h2, h3, h5, .widgetWrap.section .title {background:none;} h3{line-height:28px;} li.dropdown { margin-top: 10px; }
.nav-collapse .nav-title, .nav-collapse .nav .nav-header { color: #ccc; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); border-bottom: 1px solid #555; }
.nav-collapse .btn-primary, .nav-collapse .btn-warning, .nav-collapse .btn-success, .nav-collapse .btn-info, .nav-collapse .btn-danger { color: #fff !important; }
.nav-collapse .mega-menu-2 { min-width: 480px !important; } .nav-collapse .mega-menu-2 ul { list-style: none; margin: 0 20px 5px 0; float: left; width: 125px; }
.nav-collapse .mega-menu-3 { min-width: 480px !important; } .nav-collapse .mega-menu-3 ul { list-style: none; margin: 0 20px 5px 0; float: left; width: 125px; }
.nav-collapse .mega-menu-4 { min-width: 480px !important; } .nav-collapse .mega-menu-4 ul { list-style: none; margin: 0 20px 5px 0; float: left; width: 151px; }
.nav-collapse .mega-menu-5 { min-width: 480px !important; } .nav-collapse .mega-menu-5 ul { list-style: none; margin: 0 15px 5px 0; float: left; width: auto; }
.nav-collapse .mega-menu-6 { min-width: 480px !important; } .nav-collapse .mega-menu-6 ul { list-style: none; margin: 0 15px 5px 0; float: left; width: auto; }
.nav-collapse .mega-menu-2 ul.two-column, .nav-collapse .mega-menu-3 ul.two-column, .nav-collapse .mega-menu-4 ul.two-column, .nav-collapse .mega-menu-5 ul.two-column { width: 270px; } .nav-collapse .mega-menu-6 ul.two-column { width: 240px; }
.nav-collapse .mega-menu-3 ul.three-column, .nav-collapse .mega-menu-4 ul.three-column, .nav-collapse .mega-menu-5 ul.three-column { width: 400px; }
.nav-collapse .mega-menu-6 ul.three-column { width: 333px; } .nav-collapse .mega-menu-4 ul.four-column, .nav-collapse .mega-menu-5 ul.four-column { width: 546px; } .nav-collapse .mega-menu-6 ul.four-column { width: 428px; }
.nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a, .nav-collapse .nav .dropdown-toggle { padding: 3px 0; }
.nav-collapse .mega-menu-2 ul.mega-wide, .nav-collapse .mega-menu-3 ul.mega-wide, .nav-collapse .mega-menu-4 ul.mega-wide, .nav-collapse .mega-menu-5 ul.mega-wide, .nav-collapse .mega-menu-6 ul.mega-wide { width: 100%; margin: 0; }
.transition ul li a {-webkit-transition: none; -moz-transition: none;-o-transition: none; transition: none }
.transition ul li a:hover {padding-left: 0; -webkit-transition: none; -moz-transition: none;-o-transition: none; transition: none}
.dropdown-separator { border-top: 1px dotted #555; }
}
@media (max-device-width: 480px) {
  #btn-livechat1{display: none;}
li.dropdown { margin-top: 10px; }
.nav-collapse .nav-title, .nav-collapse .nav .nav-header { color: #ccc; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); border-bottom: 1px solid #555; }
.nav-collapse .btn-primary, .nav-collapse .btn-warning, .nav-collapse .btn-success, .nav-collapse .btn-info, .nav-collapse .btn-danger { color: #fff !important; }
.nav-collapse .mega-menu-2, .nav-collapse .mega-menu-2 ul, .nav-collapse .mega-menu-3, .nav-collapse .mega-menu-3 ul, .nav-collapse .mega-menu-4, .nav-collapse .mega-menu-4 ul, .nav-collapse .mega-menu-5, .nav-collapse .mega-menu-5 ul, .nav-collapse .mega-menu-6, .nav-collapse .mega-menu-6 ul, .nav-collapse .mega-menu-2 ul.two-column, .nav-collapse .mega-menu-3 ul.two-column, .nav-collapse .mega-menu-4 ul.two-column, .nav-collapse .mega-menu-5 ul.two-column, .nav-collapse .mega-menu-6 ul.two-column, .nav-collapse .mega-menu-3 ul.three-column, .nav-collapse .mega-menu-4 ul.three-column, .nav-collapse .mega-menu-5 ul.three-column, .nav-collapse .mega-menu-6 ul.three-column, .nav-collapse .mega-menu-4 ul.four-column, .nav-collapse .mega-menu-5 ul.four-column, .nav-collapse .mega-menu-6 ul.four-column{float:none; width:auto}
.nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a, .nav-collapse .nav .dropdown-toggle { padding: 3px 0; display: inline-block; }
ul#topNav > li > a {padding: 28px 32px; line-height: normal}
.nav-collapse .mega-menu-2 ul.mega-wide, .nav-collapse .mega-menu-3 ul.mega-wide, .nav-collapse .mega-menu-4 ul.mega-wide, .nav-collapse .mega-menu-5 ul.mega-wide, .nav-collapse .mega-menu-6 ul.mega-wide { width: 100%; margin: 0; }
.transition ul li a{-webkit-transition:none; -moz-transition:none; -o-transition:none; transition: none}
.transition ul li a:hover{padding-left:0; -webkit-transition:none; -moz-transition:none; -o-transition:none; transition: none}
.dropdown-separator { border-top: 1px dotted #555; }
#profile-wrap #col1.span3 .photoFrame{width:100%;height:100%;}
.photoFrame img{width:auto;height:auto;}
#profile-wrap #col1.span3{width:120px; padding-left:10px; position:relative; float:left}
#profile-wrap #col2.span9{width:190px; margin-right:10px; position:relative; float:right}
#btnContactAttorney,.sl_badge_150,.profile-tab-hr,#profileTabs li{display:none;}
#profileTabContent p{ text-align:left;} .serving-headline{line-height:30px; padding:15px 0;}
#profile-wrap h1 { font-size:52px;} #profileTabContent .tab-pane{display:none;}
#tab-biography.tab-pane{display:block!important;} #profile-wrap #col1.span3 .quote2{font-size:16px; line-height:normal} .header-container .phone, .hidden-phone{display:none!important}
h1.pagetitle{font-size:1.85em}
.blog-post .title.img{height:auto; margin:0}
.blog-post .title:after, .blog-post .title.img:after{content:''; background:none; height:auto}
.blog-post .title.img img{position:static}
.blog-post .title.img .wrap{position:static; width:100%; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; box-sizing:border-box; top:auto; margin:0; padding:1em; background-color: rgb(235,235,235); background-color:rgba(235,235,235,0.55)}
.blog-post .title h2{font-size:1.25em; line-height:1.5em}
.post-page .span3{width:auto; margin:auto}
.blog-post .span3 ul{width:100%; margin:1em 0; clear:both; height:auto; overflow:hidden}
.blog-post .span3 li{height:auto; overflow:hidden; float:left; margin-right:10px}
.blog-post .span3 li:last-child{margin-right:0}
.blog-post .icon-tags+p{margin-bottom:0}
}
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
#form1 .body{background-image:none} #profile-wrap #col2.span9{width:420px; margin-right:10px; position:relative; float:right} #profile-wrap h1{font-size:56px} #profileTabs li.active{display:block!important}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
.nav-clicktocall{display:none} .nav-contactus{display:block} #footer .logo{float:left!important; margin:0!important} #profile-wrap #col1.span3{padding-left:10px} #profile-wrap #col2.span9{padding-left:0px} #profileTabContent p{padding-right:10px} .nav-collapse .dropdown-menu a{font-size:16px}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
.nav-clicktocall{display:none} .nav-contactus{display:block}
#footer-consumerAlertSignup input[type="text"]{width:130px}
#footer .logo{margin:0 0 0 10px}
.footer-layer1 li, .footer-layer1 ul{float:none!important; display:block!important; line-height:normal}
.footer-layer1 li a{display:block; padding:0 0 10px 10px}
#profile-wrap #col1.span3{width:225px; padding-left:10px}
#profile-wrap #col2.span9{width:515px; padding-left:0px}
#profileTabContent p{padding-right:0px}
.nav-collapse .dropdown-menu a{font-size:16px}
.slideContent .mainPresenter{right:0px}
.slideContent .mainPresenter-morgan{right:0px!important}
.slideContent .mainPresenter-ambulance{right:-325px}
.slideContent .mainPresenter-injured{right:-21px}
}
/* iphone (4) landscape */
@media (max-device-width: 568px) {
.pulldown-siteSearch{display:none;}
.page-header h1 small {display: block;line-height: 20px;}
input[type="checkbox"],input[type="radio"] {border: 1px solid #ccc;}
.form-horizontal .control-label {float: none; width: auto;padding-top: 0;text-align: left;}
.form-horizontal .controls {margin-left: 0;}
.form-horizontal .control-list {padding-top: 0;}
.form-horizontal .form-actions {padding-left: 10px;padding-right: 10px;}
.media .pull-left,.media .pull-right {float: none;display: block; margin-bottom: 10px;}
.media-object { margin-right: 0;margin-left: 0;}
.modal { top: 10px;left: 10px;right: 10px;}
.modal-header .close {padding: 10px;margin: -10px;}
.carousel-caption {position: static;}
}
