*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db

# wordpress specific

web/wp-config-sample.php
web/app/uploads/
web/app/blogs.dir/
web/app/upgrade/*
web/app/backup-db/*
web/app/advanced-cache.php
web/app/wp-cache-config.php
web/app/cache/*
web/app/cache/supercache/*
web/app/plugins/debug-bar/*
web/app/plugins/fg-debug-bar-rewrite-rules/*

# wpengine specific
web/.smushit-status
web/.gitattributes
web/_wpeprivate
web/app/object-cache.php
web/app/mu-plugins/mu-plugin.php
web/app/mu-plugins/slt-force-strong-passwords.php
web/app/mu-plugins/limit-login-attempts
web/app/mu-plugins/wpengine-common
web/app/mysql.sql

# wp core (as of 3.4.1)
web/db-config.php

web/license.txt
web/readme.html
web/wp-activate.php
web/wp-app.php
web/wp-atom.php
web/wp-blog-header.php
web/wp-comments-post.php
web/wp-commentsrss2.php
web/wp-config-sample.php
web/wp-cron.php
web/wp-feed.php
web/wp-links-opml.php
web/wp-load.php
web/wp-login.php
web/wp-mail.php
web/wp-rdf.php
web/wp-rss.php
web/wp-rss2.php
web/wp-pass.php
web/wp-register.php
web/wp-settings.php
web/wp-signup.php
web/wp-trackback.php
web/xmlrpc.php
web/wp-admin
web/wp-includes
web/app/index.php
web/app/themes/twentyten
web/app/themes/index.php
web/app/plugins/index.php

# large/disallowed file types
# a CDN should be used for these
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi

# vagrant, node, htaccess etc.
.vagrant/
node_modules/
web/.htaccess
deployments
.htaccess
web/foo/
web/app/themes/twenty*
terminus
phpdotenv
.env

web/wp
#we may need to revisit this
web/app/mu-plugins/

web/app/themes/forthepeople/js/main.min.js
web/app/themes/forthepeople/style.min.css

